<div>
  <ejs-treegrid id="TreeGrid" [selectionSettings]='selectionSettings' [toolbar]='toolbarOptions' [editSettings]="editSettings" [columns]="gridColumns" [allowSorting]='allowSorting' [sortSettings]='sortSettings'
    [dataSource]='data' [contextMenuItems]='contextMenuItems' [allowFiltering]='allowFiltering'
    [filterSettings]="filterSettings" [treeColumnIndex]='1' (contextMenuClick)='contextMenuClick($event)'
    (contextMenuOpen)='contextMenuOpen($event)' [frozenColumns]='freezeColumnCheck && freezeColumnIndex'
    childMapping='subtasks'>
  </ejs-treegrid>
</div>



